div.loginContainer {
    width: 500px;
    height: 350px;
    margin-left: 30px;
    background-color: white;
    border: 50px solid white;
    display: inline-block;
}

div.regContainer {
  display: inline-block;
  width: 500px;
  height: 350px;
  margin-left: 30px;
  background-color: white;
  border: 50px solid white;
}
